@import "tailwindcss";

@layer base {
  body {
    background-color: #0d1117;
    color: #e6edf3;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes floatBg {
  0% { transform: translateY(0px) scale(1); }
  50% { transform: translateY(-20px) scale(1.05); }
  100% { transform: translateY(0px) scale(1); }
}

.animate-parallax-bg {
  animation: floatBg 18s ease-in-out infinite;
}